<style>
body{
  font-size:13px;
}
button[value="Set"]{
  background-color: #00a65a;
  border-color: #008d4c;
  width: 150px;
  border-radius: 6px;
}
button[value="Set"]:before{
font-family: FontAwesome;
content: "\f0ad";
position: absolute;
color:white;
margin-left: -20px;
}

button[value="Reset"]{
  background-color: #00a65a;
  border-color: #008d4c;
  width: 150px;
  border-radius: 6px;
}
button[value="Reset"]:before{
font-family: FontAwesome;
content: "\f0e2";
position: absolute;
color:white;
margin-left: -20px;
}

button[value="Save configuration"] {
  display: none;
}
.nextpage {
  background-color: #00a65a;
  color: #584b4b;
  border-radius: 6px !important;
  padding-right:22px !important;
}
.nextpage:after{
  font-family: FontAwesome;
  content: "\f138";
  position: absolute;
  color:white;
  margin-left: 6px;
}
#addmore {
  margin-bottom: 50px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 44px;
  margin-left: 50px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  padding:11px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ea1919;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 23px;
  left: 4px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #09a969;
}

input:focus + .slider {
  box-shadow: 0 0 1px #13c165;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
